@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --bs-warning-rgb: 255, 169, 107;
    --bs-primary-rgb: 76, 57, 82;
}

.container-footer {
    min-height: 40rem;
    height: 50rem;
    /* background-color: black; */
}

body {
    font-family: "Roboto", sans-serif;
    transition: 0.5s;
}
